:root{
/*cores*/
	--azul-arrocheado :#6C41D7;
	--cinza-claro: #BFBFBF;
	--cinza-escuro: #828282;
/*fonte*/
	--montserrat:'Montserrat', sans-serif;
	--lato: 'Lato', sans-serif;
}
/*reset*/
* {
	padding:0;
	margin:0;
	vertical-align:baseline;
	list-style:none;
	border:0;
}
/*estruturação*/
.signup{
	background-color: #E5E5E5;
	height: 100vh;
	overflow: hidden;
}
.signup-form-wrapper{
	display: block;
	margin:15vh auto 15vh auto;
	width: 30vw;
	background-color: white;
	overflow: hidden;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
}
.signup-img{
	width:auto;
	height:auto;
	display: block;
	margin:40px auto 0 auto;
	animation-duration: 1s;
	animation-delay: 0.5s;
	animation-fill-mode: forwards;
}
@keyframes hide{
	100%{
		opacity: 0;
	}
}
@keyframes show{
	100%{
		opacity: 1;
	}
}
.signup-form{
	width:80%;
	height: 50%;
	margin:0 auto;
}
.signup-form-item{
	display:block;
	width:80%;
	margin: auto;
}
.signup-welcome{
	text-align: center;
	color:var(--azul-arrocheado);
	font-family:var(--montserrat);
	font-size:12px;
	font-weight: bold;
	margin: 10px 0 20px 0;
}
.signup-form-item .signup-form-input{
	display: block;
	width:100%;
	height: 25px;
	margin:5px 0 5px 0;
	border:#BFBFBF solid 1px;
	box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.1);
	outline: none;
}
.signup-form-item .signup-form-label{
	font-family: var(--montserrat);
	font-size:10px;
	color:var(--cinza-escuro);
	font-weight: 600;
}
.signup-form-validation-text{
	font-family:var(--montserrat);
	color:var(--cinza-escuro);
	font-size: 10px;
	font-weight: 600;
	line-height: 11px;
}
.signup-form-validation-text span{
	color:var(--cinza-claro);
	font-size: 16px;
}
.signup-form-validation-item{
	height: 4px;
	width:31.7%;
	margin: 10px auto 10px auto;
	display: inline-block;
	background-color: #EDEDED;
}
.signup-form-buttom{
	width: 80%;
	margin: 30px auto 60px auto;
	display: block;
	height: 33px;
	color:white;
	font-family: var(--lato);
	cursor:pointer;
	font-weight: bold;
	font-size: 14px;
	background-color: var(--azul-arrocheado);
}
.signup-hidden-mensage::before{
	content:"";
	position: absolute;
	top:15vh;
	width:30vw;
	height: 0vh;
	background: var(--azul-arrocheado) url('sucess.svg') no-repeat;
	background-position: center 0px ;
	background-size: 400px;
	animation-duration: 2s;
	animation-delay: 4.5s;
	animation-fill-mode:  forwards;
	animation-name: expand;
	z-index: 2;
}
@keyframes expand{
	100%{
		height:65vh;
	}
}

@media all and (max-width: 468px) {
  .signup-form-wrapper{
  	width:90vw;
  }
  .signup-hidden-mensage::before{
  	width: 90vw;
  }
}
@media all and (min-width: 468px) and (max-width: 768px) {
  .signup-form-wrapper{
  	width:70vw;
  }
   .signup-hidden-mensage::before{
  	width: 70vw;
  }
}
@media all and (min-width: 768px) and (max-width: 1024px) {
  .signup-form-wrapper{
  	width:60vw;
  }
  .signup-hidden-mensage::before{
  	width: 60vw;
  }
}